.header {
  text-align: center;
  background-color: rgb(255, 168, 117);
  height: 80px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  background-color: rgb(140, 236, 228);
  font-family: Arial, Helvetica, sans-serif;

}

#my-table {
  margin: 0 auto;
  max-width: fit-content;
  display: flex;
  flex-direction: column;

  /* border: 1px solid rgb(45, 222, 235); */
}
#intro {
  text-align: center;
}
#footer {
  text-align: center;
}
td {
  padding: 2px;
  margin: 2px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
#btn {
  width: 80px;
  background-color: rgb(74, 245, 74);
  cursor: pointer;
}
#table-intro {
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
}
